/* базывые стили и ширифт */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('./rest.css');
@import url('./vars.css');

/* стиль сайета! */
@import url('./css/header.css');
@import url('./css/piple.css');
@import url('./css/reg.css');
@import url('./css/footer.css');
@import url('./css/hero.css');