:root {
  --aTage-color: #888;
  --black-color: #000;
  --white-color: #fff;
  --BG-color: #101c26;
  --ye-color: #f0e714;
  --or-color: #EDB32D;
  --f3f4f6-color: #F3F4F6;
  --ITC-Avant: "Monda", sans-serif;
  --sans-fonts: Arial, Helvetica, sans-serif;
}