#hero {
  background: var(--BG-color);
  color: var(--white-color);
  font-family: var(--ITC-Avant);
  .hero {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .ion-icon {
        position: absolute;
        top: 100px;
        right: 20%;
        font-size: 30px;
        color: var(--ye-color);
      }
      h1 {
        font-weight: 700;
        font-style: Bold;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: 1%;
      }
      p {
        font-family: var(--sans-fonts);
        font-weight: 300;
        font-style: Medium;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -1.1%;
        color: var(--f3f4f6-color);
      }
      .btn {
        display: flex;
        gap: 30px;
        button {
          display: flex;
          align-items: center;
          gap: 10px;
          border: solid 1px var(--BG-color);
          padding: 7px 20px;
          border-radius: 40px;
          background: none;
          color: var(--white-color);
          transition: 0.5s;
        }
        button:hover {
          transform: translateY(-5px);
          box-shadow: 1px 5px 15px var(--ye-color);
          border: solid 1px var(--ye-color);
          background: var(--ye-color);
          color: var(--BG-color);
          transition: 0.5ms;
        }
        button:focus {
          border: solid 1px var(--aTage-color);
          transform: translateY(0);
          box-shadow: none;
          padding: 7px 20px;
          border-radius: 40px;
          background: var(--ye-color);
          color: var(--black-color);
        }
      }
      .farm {
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;
        h1 {
          font-weight: 600;
          font-style: Demi;
          font-size: 44px;
          line-height: 56px;
          color: var(--ye-color);
        }
        p {
          font-family: var(--sans-fonts);
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          line-height: 28px;
          color: var(--f3f4f6-color);
        }
      }
    }
    .images {
      position: relative;
      h3 {
        margin-left: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        color: var(--or-color);
      }
      .posishn {
        position: absolute;
        bottom: 50px;
        left: -100px;
      }
    }
  }
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px 0;
  }
}
